.customer-review {
  max-width: 800px;
  margin: 0 auto;           
  padding: 20px;                                 
  /* border: 1px solid #ccc; */               
  border: 1px solid black;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);            
}
                    
.review-h1{
    text-align: center;
}    

.customer-review h3{
  font-size: 25px;
}
 
.name-input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  /* border-radius: 2px; */
}

.rating-stars {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.star {
  cursor: pointer;
  color: #ddd;
  margin-right: 5px;
} 

.active-s {
  color:green;
}

.review-text {
  width: 100%;
  height: 100px;
  padding: 8px;
  margin-bottom: 10px;
  border-radius: 8px;
}

.submit-button {
  background-color: #007bff;  
  color: #fff;
  padding: 8px 16px;
  border: none;
  cursor: pointer; 
  border-radius: 8px;
}

.cust-ul {
  list-style: none;
  padding: 0;
  
}

.cust-li {
  margin-bottom: 10px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
  color: black;

}

.thank-you {
  text-align: center;
  color: #007bff;
  font-weight: bold;
  margin-top: 10px;
}













  /* CustomerReview.css
.customer-review {
    margin: 20px 0;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .rating-stars {
    display: flex;
  }
  
  .star {
    cursor: pointer;
    font-size: 30px;
    margin-right: 5px;
  }
  
  .star.active {
    color: #ffc107;
  }
  
  .review-text {
    margin-top: 10px;
  }
  
  .name-input {
    margin-top: 10px;
    padding: 5px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .submit-button {
    margin-top: 10px;
    background-color: #007bff;
    color: #fff;
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    
  }
  
  .review-item {
    display: flex;
    align-items: center;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .review-item img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
  }
  

  */

